= form_for(@team, url: invite_team_path) do |team|
  %h4= t('teams.show.invite_member_header')
  = team.fields_for :user_invites, @team.user_invites.build do |invite_fields|
    .input-group.mb-2.w-50
      %input.form-control{:placeholder => "Email Address", :name => 'team[user_invites_attributes][0][email]', :type => "email"}/
      .input-group-append
        = team.submit t('teams.show.invite_button'), :class => "btn btn-secondary"
