%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Challenge
      %th Points
      %th When
  %tbody
    - @team.solved_challenges.each_with_index do |s|
      %tr
        %td= always_link_to_if_admin(s.challenge.open?, s.challenge.name, game_challenge_path(s.challenge))
        %td= solved_challenge_table_point_value(s, @team)
        %td= view_time_format(s.created_at)
