- content_for :header do
  Messages
- if @messages.count == 0
  .zero-items-text No Messages
- else
  - @messages.each do |m|
    %div.message
      %h2
        = m.title
        %small= m.updated_at.strftime("%b %e, %R %Z")
      = raw(Kramdown::Document.new(m.text).to_html)
    %hr
  = paginate @messages, :theme => 'twitter-bootstrap'
