%p Hello #{@user.full_name}!
%p
  All solved challenges from the last competition have been released with solutions on
  = link_to 'GitHub', 'https://github.com/mitre-cyber-academy'
%p Have a great day!
