%p= t('user_mailer.user_request.greeting', fullname: @user.full_name)
%p= t('user_mailer.user_request.request_line_1', username: @user.full_name, team: @team.team_name)
%p= t('user_mailer.user_request.request_line_2')
%p= link_to t('user_mailer.user_request.view_team_dashboard'), team_url(@team)
