%p
  Hello #{@captain.full_name}!
%p #{@user.full_name} has requested to join your team #{@team.team_name}
%p Click the link below to view and accept or reject the request.
%p= link_to 'View Team Dashboard', team_url(@team)
