- if devise_mapping.registerable? && controller_name != 'registrations'
	- if @game.registration_enabled
		= link_to t('devise.registrations.new_user'), new_user_registration_path, :class => "btnspace-text-from-input"
