.alert.alert-success.alert-block.alert-dismissible
  %a.close{"data-dismiss" => "alert", :href => "#"} ×
  %h4="VPN Certificate Available!"
  The VPN certificate required for connecting to our infrastructure during the game is now
  = succeed "." do
    = link_to "available for download", download_vpn_cert_users_path
  Instructions for connecting can be found in our
  = succeed "." do
    = link_to 'video library', 'http://mitrecyberacademy.org/learn/play/'
