- content_for :header do
	About MITRE Cyber Academy

.catchphrase.pagination-centered
	%h1 MCA
	.maincontent.row-fluid
		%p Cyber security is critical to our nation's continued progress in the Information Age. Protection of our information infrastructure and cyber operations is an investment we are making to maintain accessible and productive use of our information space.
		%p As a not-for-profit organization chartered to work in the public interest, MITRE is providing this Cyber Academy to foster the education and collaboration of cyber professionals. Our growing set of resources is provided to help you develop your technical skills as a cyber security professional.