- content_for :header do
  = t('pages.index.pages_header')
- if @pages.count == 0
  %h4{ class: "zero-items-text" }= t('pages.no_pages')
- else
  - @pages.each do |page|
    %div.page
      = link_to page.title, game_page_path(page.path)