- style = "text-align:center;"

- if (defense_team&.eql?(current_user&.team))
  - style << "color:#999999;"
- if challenge.force_closed? || (defense_team&.eql?(current_user&.team))
  - style << "color:#800000;"
- elsif challenge.get_solved_challenge_for(current_user&.team)
  - style << "color:#00abca;"
- elsif challenge.solved?(2)
  - style << "color:#00cc00;"
- elsif challenge.solved?(1)
  - style << "color:#009900;"
- elsif challenge.open? || (is_admin && challenge.challenge_open?)
  - style << "color:#006600;"
- else
  - style << "color:#999999;"
%td{ style: style }= link_to_if (is_admin || challenge.open?), challenge_title, challenge_path, style: "color:inherit;"
