%table.table.table-bordered.table-bolded#jeopardy-table
  %thead
    %tr
      - @category_ids.each do |category|
        %th.text-center{ style: "width:#{heading_width(@category_ids)}%;" }=category_ids_to_names(category, @categories)
  %tbody
    - @game.max_category_size.times do |row|
      %tr
        - @category_ids.each do |category|
          - if row < @point_challenges[category].size
            = render partial: 'point_challenge',
              locals: { challenge: @point_challenges[category][row] }
          - else
            %td &nbsp;
