%td.text-center{ style: "color: #{challenge_colors(challenge)[0]}" }= always_link_to_if_admin(challenge.open?, challenge.display_point_value(current_user&.team), game_challenge_path(challenge), style: "color:inherit;")
