- content_for :header do
  Game Summary

%h3.muted
  Top 5 Teams
%br/
= render partial: "games/divisions", locals: {divisions: @divisions, active_division: @active_division, only_top_five: true}
%hr
/ Only show the flags per hour count when we have more than 1 datapoint to show
- if @flags_per_hour.count > 1
  %h3.muted
    Flag Submissions
    = line_chart @line_chart_data, colors: ['#b8d12f', '#00abca']
