- content_for :header do
  Terms and Conditions

- if @game&.terms_and_conditions.blank?
  = t('game.no_terms_and_conditions')
- else
  = sanitize(Kramdown::Document.new(@game&.terms_and_conditions).to_html)
