- content_for :header do
  = t('application.terms_of_use.terms_of_service_name')

- if @game&.terms_of_service.blank?
  = t('game.no_terms_of_service')
- else
  = sanitize(Kramdown::Document.new(@game&.terms_of_service).to_html)
