%p
  Thank you for your interest in being a VIP at our upcoming CTF, #{@vip.name}
%p
  Please click the link below to confirm your email request,
  %br/
%p= link_to 'Confirm my account', vip_confirmation_url(:confirmation_token => @vip.confirmation_token)

%p Thanks for your interest and have a great day!