%p
  Thank you for verifying your email, #{@vip.name}
%p 
  We will keep you up to date with any additional developments as the CTF gets closer.

%p 
  If you wish to visit our site for more information please #{ link_to 'click here', 'http://mitrecyberacademy.org'}.