.input-group
  .input-group-addon
    %span{class: 'input-group-text'}=request.host + (request.local? ? ':3000' : '') + '/game/pages/'
  %input.form-control{id: "page_path", name: 'page[path]', type: "text", value: form.object.path}
  