:javascript
  $(document).ready(function() {
    // Hide toggleable fields (Game)
    try {
      document.getElementById('game_prizes_text_field').style.display = "none";
      document.getElementById('game_completion_certificate_template_field').style.display = "none";
    } catch {}

    // Toggle sponsor fields based on if the checkmark is checked
    try {
      toggleSponsorField()
    } catch {}
    
    // Listen for completion certificates and prizes tickbox
    try {
      document.getElementById('game_enable_completion_certificates').addEventListener('change', toggleDisplayCert);
      document.getElementById('game_prizes_available').addEventListener('change', toggleDisplayPrizes);
    } catch {}

    // Listen for sponsorship tickbox
    try {
      $('.sponsorship_fields_toggler').find('input')[1].addEventListener('change', toggleSponsorField);
    } catch {}

    // Show or hide sponsorship info based on sponsored tickbox
    function toggleSponsorField() {
      var elems = $('.sponsorship_fields_toggle')
      var arr = jQuery.makeArray( elems );
      if ($('.sponsorship_fields_toggler').find('input')[1].checked) {
        arr.forEach(element => element.style.display = "");
      } else {
        arr.forEach(element => element.style.display = "none");
      }
    }
    // Show or hide completion certificates based on certificates tickbox
    function toggleDisplayCert() {
      if (document.getElementById('game_enable_completion_certificates').checked) {
        document.getElementById('game_completion_certificate_template_field').style.display = "";
      } else {
        document.getElementById('game_completion_certificate_template_field').style.display = "none";
      }
    }

    // Show or hide prizes based on prizes tickbox
    function toggleDisplayPrizes() {
      if (document.getElementById('game_prizes_available').checked) {
        document.getElementById('game_prizes_text_field').style.display = "";
      } else {
        document.getElementById('game_prizes_text_field').style.display = "none";
      }
    }
  });
