:javascript
  $(document).ready(function() {
    document.getElementById('game_prizes_text_field').style.display = "none";
    document.getElementById('game_completion_certificate_template_field').style.display = "none";

    document.getElementById('game_enable_completion_certificates').addEventListener('change', toggleDisplayCert);
    document.getElementById('game_prizes_available').addEventListener('change', toggleDisplayPrizes);

    function toggleDisplayCert() {
      if (document.getElementById('game_enable_completion_certificates').checked) {
        document.getElementById('game_completion_certificate_template_field').style.display = "";
      } else {
        document.getElementById('game_completion_certificate_template_field').style.display = "none";
      }
    }

    function toggleDisplayPrizes() {
      if (document.getElementById('game_prizes_available').checked) {
        document.getElementById('game_prizes_text_field').style.display = "";
      } else {
        document.getElementById('game_prizes_text_field').style.display = "none";
      }
    }
  });
