- content_for :header do
  = t('users.edit.password.forgot_password_header')

%legend= t('users.new.password_reset_legend')
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "user-reset-form" }) do |user|
  = render "users/shared/retrieve_access", user: user
