// Place all the styles related to the team controller here.
// They will automatically be included in application.css.

.divider-hr {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .w-50 {
        width: 100% !important;
    }
}