- content_for :header do
  Achievements
- if @achievements.count == 0
  .zero-items-text No achievements have been awarded
- else
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Unlocked By
        %th When
    %tbody
      - @achievements.each do |a|
        %tr
          %td= a.text
          %td.break-word= link_to display_name(a.team), summary_team_path(a.team)
          %td= a.created_at.strftime("%b %e %y, %R %Z")
