%p
  Hello #{@resource.full_name}!
  Thank you for registering for our upcoming CTF event.
  %p If you wish to finish this registration, please use the link below.

%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token)

%p If you feel you have received this message in error, please do not click the link above.