%hr
= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => "true", :class => "form-horizontal"}, :method => :delete) do |f|
  .form-inline
    .form-group
      .col-xs-4
        = f.password_field :current_password, :class => "form-control textarea", :placeholder => t('users.edit.label.current_password_placeholder')
      = button_tag t('users.edit.label.delete_account'), :label => t('users.edit.label.delete_account'), :class => 'btn btn-danger', :data => { :confirm => t('users.destroy.confirm') }
